.div1{
    margin: 150px;
    width: 500px;
    height: 500px;
    background-color: rgb(53, 51, 51);
    margin-left: 500px;
    border-radius: 20px;
}
#result{
    width: 450px;
    height: 50px;
    font-size: 30px;
}
table{
    padding: 20px;
    height: 500px;
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #c42708;
    color: white;
    border: solid black 0.5px;
    width: 90%;
    border-radius: 5px;
    height: 90%;
    outline: none;
    font-size: 40px;
}
